<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scifit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Aesthet.X.adfree.DashBoardTabs.RemoveAds"></activity>
        <activity android:name="Aesthet.X.adfree.DashBoardTabs.GetPremium" />
        <activity android:name="Aesthet.X.adfree.Charts.FatLossChart" />
        <activity android:name="Aesthet.X.adfree.Excercises.Vacuums" />
        <activity android:name="Aesthet.X.adfree.Excercises.HandstandPushup" />
        <activity android:name="Aesthet.X.adfree.Excercises.LegRaiseScissor" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedRDL" />
        <activity android:name="Aesthet.X.adfree.Excercises.SprinterLunge" />
        <activity android:name="Aesthet.X.adfree.Excercises.ProtractedRollout" />
        <activity android:name="Aesthet.X.adfree.Excercises.LatLever" />
        <activity android:name="Aesthet.X.adfree.Excercises.RingOverheadExtension" />
        <activity android:name="Aesthet.X.adfree.Excercises.BWsquats" />
        <activity android:name="Aesthet.X.adfree.Excercises.VUp" />
        <activity android:name="Aesthet.X.adfree.Excercises.ReverseHyper" />
        <activity android:name="Aesthet.X.adfree.Excercises.NarrowDip" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandExtension" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedForearmCurl" />
        <activity android:name="Aesthet.X.adfree.Excercises.LegRaise" />
        <activity android:name="Aesthet.X.adfree.Excercises.TwistingLegRaise" />
        <activity android:name="Aesthet.X.adfree.Excercises.PulseUp" />
        <activity android:name="Aesthet.X.adfree.Excercises.AbCircles" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedAbduction" />
        <activity android:name="Aesthet.X.adfree.Excercises.AngelofDeath" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedLunge" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandCrunch" />
        <activity android:name="Aesthet.X.adfree.Excercises.MarchingBridge" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedPullApart" />
        <activity android:name="Aesthet.X.adfree.Excercises.SideLunge" />
        <activity android:name="Aesthet.X.adfree.Excercises.TrapPushaway" />
        <activity android:name="Aesthet.X.adfree.Excercises.WallSit" />
        <activity android:name="Aesthet.X.adfree.Excercises.ReverseCrunch" />
        <activity android:name="Aesthet.X.adfree.Excercises.AbRollout" />
        <activity android:name="Aesthet.X.adfree.Excercises.NeckFlexion" />
        <activity android:name="Aesthet.X.adfree.Excercises.HeadFloats" />
        <activity android:name="Aesthet.X.adfree.Excercises.Lunges" />
        <activity android:name="Aesthet.X.adfree.Excercises.PullUps" />
        <activity android:name="Aesthet.X.adfree.Excercises.ChinUps" />
        <activity android:name="Aesthet.X.adfree.Excercises.HangingScapularRetraction" />
        <activity android:name="Aesthet.X.adfree.Excercises.DeltRotating" />
        <activity android:name="Aesthet.X.adfree.Excercises.RotatingPlank" />
        <activity android:name="Aesthet.X.adfree.Excercises.InvertedY" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedStepOut" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedPunch" />
        <activity android:name="Aesthet.X.adfree.Excercises.RingFacepulls" />
        <activity android:name="Aesthet.X.adfree.Excercises.RingRows" />
        <activity android:name="Aesthet.X.adfree.Excercises.AustralianPullUp" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedCurls" />
        <activity android:name="Aesthet.X.adfree.Excercises.Pushups" />
        <activity android:name="Aesthet.X.adfree.Excercises.RadialDeviation" />
        <activity android:name="Aesthet.X.adfree.Excercises.UlnarDeviation" />
        <activity android:name="Aesthet.X.adfree.Excercises.WideDip" />
        <activity android:name="Aesthet.X.adfree.Excercises.TwistingPulseUp" />
        <activity android:name="Aesthet.X.adfree.Excercises.XCrunch" />
        <activity android:name="Aesthet.X.adfree.Excercises.ElbowToKneeTuck" />
        <activity android:name="Aesthet.X.adfree.Excercises.ElbowToKneePlank" />
        <activity android:name="Aesthet.X.adfree.Excercises.TricepsExtension" />
        <activity android:name="Aesthet.X.adfree.Excercises.Ts" />
        <activity android:name="Aesthet.X.adfree.Excercises.PikePushup" />
        <activity android:name="Aesthet.X.adfree.Excercises.SidePlank" />
        <activity android:name="Aesthet.X.adfree.Excercises.PlankProtraction" />
        <activity android:name="Aesthet.X.adfree.Excercises.BWHipThrust" />
        <activity android:name="Aesthet.X.adfree.Excercises.BenchDip" />
        <activity android:name="Aesthet.X.adfree.Excercises.PistolSquat" />
        <activity android:name="Aesthet.X.adfree.Excercises.HamCurl" />
        <activity android:name="Aesthet.X.adfree.Excercises.BulgarianSplitSquat" />
        <activity android:name="Aesthet.X.adfree.Excercises.IsoHT" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedLateralRaise" />
        <activity android:name="Aesthet.X.adfree.Excercises.RingCurls" />
        <activity android:name="Aesthet.X.adfree.Excercises.NarrowPushup" />
        <activity android:name="Aesthet.X.adfree.Excercises.CalfRaise" />
        <activity android:name="Aesthet.X.adfree.Excercises.BandedExternalRotation" />
        <activity android:name="Aesthet.X.adfree.Excercises.FrogPump" />
        <activity android:name="Aesthet.X.adfree.Excercises.FloorScapularDepression" />
        <activity android:name="Aesthet.X.adfree.Classes.ResetVolume" />
        <activity
            android:name="Aesthet.X.adfree.Excercises.BWExercise"
            android:theme="@style/AppThemeBasic" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.UpdateMaleMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.UpdateFemaleMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.UpdateMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.UpdateData"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Excercises.GlobalExercise"
            android:theme="@style/AppThemeBasic" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Intro"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.LowerTrap"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.UpperTrap"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.Dashboards"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.SuspendedNeckRotation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.HarnessLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.TowelLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.PlatedNeckLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.HarnessNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.TowelNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.PlatedNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.NeckHarnessCurls"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.Form.PlateCurl"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.QuadsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.DiaphragmVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.ObliquesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.AbsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.SerratusVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.BicepsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.ChestVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.CalvesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.HamstringsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.GluteMediusVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.GlutesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.ErectorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.LatsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.RadialForearmVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.ForearmFlexorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.ForearmExtensorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.UlnarForearmVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.TricepsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.RotatorCuffVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.AnteriorDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.MedialDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.PosteriorDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.LowerTrapsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.UpperTrapVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.AddVolume.NeckVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Biceps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Quads"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Diaphragm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Obliques"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Abs"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Serratus"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Calves"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Hamstrings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.GluteMedius"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Glutes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Erectors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Lats"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.RadialForearm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.ForearmFlexors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.ForearmExtensors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.UlnarForearm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Triceps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.RotatorCuff"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.AnteriorDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.MedialDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.PosteriorDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Chest"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.MuscleGroupInfo.Neck"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.SettingsTODO.AboutUS"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.Resources"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.DashBoardTabs.MealPlan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.PopUpDialogs.BodyFatChart"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="Aesthet.X.adfree.FirstBootManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Aesthet.X.adfree.PopUpDialogs.FAQFourYears"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.SettingsTODO.FAQ"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.PopUpDialogs.DashCalories"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.PopUpDialogs.DashIdealBodyWeight"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.MagicFormulaMale"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity6"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity5"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity7"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity4"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.MagicFormulaFemale"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity3"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.Activity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="Aesthet.X.adfree.Intro.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="Aesthet.X.adfree.MuscleGroupInfo.SpinalErectors" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3950672419252348~6149712161" />
    </application>



</manifest>