<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scifit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.AesthetX.aesthetx.Classes.NotesAndRPE"></activity>
        <activity android:name="com.AesthetX.aesthetx.AddVolume.Form.ExercisesByMuscle" />
        <activity android:name="com.AesthetX.aesthetx.Classes.StudentPromo" />
        <activity android:name="com.AesthetX.aesthetx.Classes.MuscleGroupObjects.PremiumPay" />
        <activity android:name="com.AesthetX.aesthetx.Charts.FatLossChart" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.Vacuums" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.HandstandPushup" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.LegRaiseScissor" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedRDL" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.SprinterLunge" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ProtractedRollout" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.LatLever" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RingOverheadExtension" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BWsquats" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.VUp" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ReverseHyper" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.NarrowDip" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandExtension" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedForearmCurl" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.LegRaise" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.TwistingLegRaise" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.PulseUp" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.AbCircles" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedAbduction" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.AngelofDeath" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedLunge" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandCrunch" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.MarchingBridge" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedPullApart" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.SideLunge" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.TrapPushaway" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.WallSit" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ReverseCrunch" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.AbRollout" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.NeckFlexion" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.HeadFloats" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.Lunges" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.PullUps" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ChinUps" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.HangingScapularRetraction" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.DeltRotating" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RotatingPlank" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.InvertedY" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedStepOut" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedPunch" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RingFacepulls" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RingRows" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.AustralianPullUp" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedCurls" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.Pushups" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RadialDeviation" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.UlnarDeviation" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.WideDip" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.TwistingPulseUp" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.XCrunch" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ElbowToKneeTuck" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.ElbowToKneePlank" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.TricepsExtension" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.Ts" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.PikePushup" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.SidePlank" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.PlankProtraction" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BWHipThrust" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BenchDip" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.PistolSquat" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.HamCurl" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BulgarianSplitSquat" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.IsoHT" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedLateralRaise" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.RingCurls" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.NarrowPushup" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.CalfRaise" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.BandedExternalRotation" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.FrogPump" />
        <activity android:name="com.AesthetX.aesthetx.Excercises.FloorScapularDepression" />
        <activity android:name="com.AesthetX.aesthetx.Classes.ResetVolume" />
        <activity
            android:name="com.AesthetX.aesthetx.Excercises.BWExercise"
            android:theme="@style/AppThemeBasic" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.UpdateMaleMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.UpdateFemaleMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.UpdateMagicFormula"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.UpdateData"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Excercises.GlobalExercise"
            android:theme="@style/AppThemeBasic" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Intro"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.LowerTrap"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.UpperTrap"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.Dashboards"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.SuspendedNeckRotation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.HarnessLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.TowelLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.PlatedNeckLateralFlexion"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.HarnessNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.TowelNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.PlatedNeckExtension"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.NeckHarnessCurls"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.Form.PlateCurl"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.QuadsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.TransverseVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.ObliquesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.AbsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.SerratusVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.BicepsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.ChestVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.CalvesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.HamstringsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.GluteMediusVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.GlutesVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.ErectorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.LatsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.RadialForearmVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.ForearmFlexorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.ForearmExtensorsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.UlnarForearmVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.TricepsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.RotatorCuffVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.AnteriorDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.MedialDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.PosteriorDeltoidVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.LowerTrapsVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.UpperTrapVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.AddVolume.NeckVolume"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Biceps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Quads"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Diaphragm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Obliques"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Abs"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Serratus"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Calves"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Hamstrings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.GluteMedius"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Glutes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Erectors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Lats"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.RadialForearm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.ForearmFlexors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.ForearmExtensors"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.UlnarForearm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Triceps"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.RotatorCuff"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.AnteriorDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.MedialDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.PosteriorDeltoid"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Chest"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.MuscleGroupInfo.Neck"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.SettingsTODO.AboutUS"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.Resources"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.DashBoardTabs.MealPlan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.PopUpDialogs.BodyFatChart"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.AesthetX.aesthetx.FirstBootManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.AesthetX.aesthetx.PopUpDialogs.FAQFourYears"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.SettingsTODO.FAQ"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.PopUpDialogs.DashCalories"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.PopUpDialogs.DashIdealBodyWeight"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.MagicFormulaMale"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity6"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity5"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity7"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity4"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.MagicFormulaFemale"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity3"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.Activity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.AesthetX.aesthetx.Intro.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.AesthetX.aesthetx.MuscleGroupInfo.SpinalErectors" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3950672419252348~6149712161" />
    </application>

</manifest>